/**
 * Learn.
 */

.learn {
  background-color: $color-grey_lightest;
}

.learn h1 {
  margin-top: 40px;
  text-align: center;
}

.learnblocks {
  align-content: space-around;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 0;
}

.learnblocks-item {
  flex: 1 10%;
  margin: 10px;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .learnblocks-item {
    flex: 1 20%;
  }
}

.learnblocks-item-icon {
  display: block;
  height: 140px;
  padding-top: 10px;
  text-align: center;
  box-shadow: inset 0px -35px 0px 0px rgba(0,0,0,.06);
}

.learnblocks-item-icon img {
  width: 86px;
  transition: transform $duration_fastest $easing-bounce_hard;
}

.learnblocks-item-icon:hover img {
  transform: scale(1.1);
}

.learnblocks-item-title {
  margin-top: 3px;
  text-align: center;
  font-size: $fontSize_base;
  color: $color-white;
}

.learnblocks-item_basics .learnblocks-item-icon {
  background-color: $color-fuchsia_base;
}
.learnblocks-item_wercker_yml .learnblocks-item-icon{
  background-color: $color-skyblue_base;
}
.learnblocks-item_containers .learnblocks-item-icon{
  background-color: $color-green_base;
}
.learnblocks-item_pipelines .learnblocks-item-icon{
  background-color: $color-red_base;
}
.learnblocks-item_steps .learnblocks-item-icon{
  background-color: $color-purple_base;
}
.learnblocks-item_build .learnblocks-item-icon{
  background-color: $color-yellow_base;
}
.learnblocks-item_deploy .learnblocks-item-icon{
  background-color: $color-orange_base;
}
