/**
 * Colors.
 */

$color-white: hsl(0, 0%, 100%);

$color-grey_lightest: hsl(0, 0%, 98%);
$color-grey_lighter: #F5F7F8;
$color-grey_light: #E6E6E6;
$color-grey_base: #9D9D9D;
$color-grey_dark: hsl(140, 1%, 39%);
$color-grey_darker: hsl(219, 16%, 17%);
$color-grey_darkest: hsl(0, 0%, 0%);

$color-blue_lighter: #C6C9CE;
$color-blue_light: #60718C;
$color-blue_base: #2194CE;
$color-blue_dark: #4B5769;
$color-blue_darker: #424E61;

$color-turquoise_light: hsl(168, 46%, 95%);
$color-turquoise_base: hsl(168, 46%, 47%);
$color-turquoise_dark: hsl(168, 46%, 37%);

$color-green_base: #6DBE44;
$color-red_base: #FF3362;
$color-orange_base: #FF801A;
$color-yellow_base: #FFDE00;
$color-fuchsia_base: #F748C4;
$color-skyblue_base: #3DBDEE;

