/**
 * Colors.
 */

$color-white: #FFFFFF;

$color-grey_lightest: #FAFAFA;
$color-grey_lighter: #F5f7f8;
$color-grey_light: #E6E6E6;
$color-grey_base: #9D9D9D;
$color-grey_dark: #626463;
$color-grey_darker: #242932;
$color-grey_darkest: #000000;

$color-blue_lighter: #C6C9CE;
$color-blue_light: #60718C;
$color-blue_base: #2194CE;
$color-blue_dark: #4B5769;
$color-blue_darker: #4C5D79;

$color-turquoise_light: #ECF8F6;
$color-turquoise_base: #41AF99;
$color-turquoise_dark: #338A78;

$color-green_base: #6DBE44;
$color-red_base: #FF3362;
$color-purple_base: #AE40EA;
$color-orange_base: #FF801A;
$color-yellow_base: #FFDB06;
$color-fuchsia_base: #F748C4;
$color-skyblue_base: #3DBDEE;
