/**
 * Learn.
 */

.learn {
  display: none;
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .learn {
    display: flex;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey_light);
  }
}

/**
 * Learn headers
 */

.learn h2 {
  margin-top: 30px;
  margin-bottom: 0;
  /*text-align: center;*/
}

.learn h4 {
  margin-top: 0;
  /*text-align: center;*/
}

/**
 * Learnblocks
 */

.learnblocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

/**
 * Learnblocks items
 */

.learnblocks-item-title {
  margin-left: 10px;
  text-transform: capitalize;
  color: var(--color-grey_darker);
  font-size: var(--fontSize_medium);
  line-height: var( --lineHeight_looser);
}

.learnblocks-item.active .learnblocks-item-title {
  color: var(--color-skyblue_base);
}

@media screen and (min-width: 768px) {
  .learnblocks-item {
    padding: 5px 15px;
  }
  .learnblocks-item.active {
    border-bottom: 2px solid var(--color-skyblue_base);
  }
}

/**
 * Learnblocks item icon
 */

.learnblocks-item-icon {
  float: left;
  margin-top: 5px;
  text-decoration: none;
}

.learnblocks-item.active .learnblocks-item-icon .icon-stroke {
  stroke: var(--color-skyblue_base);
}

.learnblocks-item.active .learnblocks-item-icon .icon-fill {
  fill: var(--color-skyblue_base);
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .learnblocks-item.active .learnblocks-item_active {
    display: block;
    opacity: 0;
  }
}


