/**
 * Docs-articles.
 */
.docs {
  position: relative;
  overflow: hidden;
}

.flex-outer.docs-content {
  align-items: flex-start;
  margin-top: 30px;
}

.docs-articles {
  flex: 3;
  order: 2;
  padding: 30px;
  z-index: 2;
}

/**
 * Article Header
 */

.docs-articles h2 {
  margin-top: 0;
}

/**
 * Code
 */

.docs-articles > p > code,
.docs-articles > ul > li > code {
  margin: 0 3px;
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
  background-color: $color-grey_lightest;
  border: 1px solid $color-grey_lighter;
  font-weight: $fontWeight_base;
  font-size: $fontSize_small;
  color: $color-blue_base;
}

.docs-articles > pre {
  background-color: $color-blue_base;
  border: 1px solid $color-grey_light;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  overflow-x: auto;
}

.docs-articles > pre > code {
  line-height: $lineHeight_base;
  background-color: transparent;
  overflow-wrap: normal;
  white-space: pre;
  border: none;
}

/**
 * Tables.
 */


.docs-articles table {
  margin: 30px 0;
}

.docs-articles table,
.docs-articles th,
.docs-articles td {
  padding: 12px;
  background-color: $color-grey_lightest;
  border: 1px solid $color-grey_light;
  font-weight: $fontWeight_base;
  line-height: $lineHeight_base;
  font-size: $fontSize_smaller;
  color: $color-blue_light;
}

.docs-articles th {
  font-weight: $fontWeight_semibold;
  line-height: $lineHeight_base;
  font-size: $fontSize_small;
  color: $color-blue_light;
}

/**
 * ul ol.
 */

.docs-articles > ul,
.docs-articles > ol {
  margin-top: 5px;
  margin-left: 10px;
  line-height: $lineHeight_loose;
  color: $color-grey_base;
  list-style: none;
}

.docs-articles > ul li:before,
.docs-articles > ol li:before {
  content: "• ";
  color: $color-blue_light;
}

/**
 * Images.
 */

.docs-articles p > img,
.docs-articles a > img {
  max-width: 100%;
  margin-top: 20px;
  border: 1px solid $color-grey_lighter;
}


/**
 * Line breaks.
 */

.docs-articles > hr {
  display: none;
}


/**
 * Blockquote.
*/

blockquote {
  margin-top: 30px;
  padding-left: 30px;
  border-left: 1px solid $color-red_base;
}

blockquote > p {
  margin-bottom: 30px;
}

blockquote  p {
  font-size: $fontSize_small;
  color: $color-grey_base;
  font-weight: $fontWeight_light;
  line-height: $lineHeight_loose;
  font-style: italic;
}

/**
 * Important note.
*/

hr + blockquote {
  border: none;
  padding: 0;
}

hr + blockquote > p{
  margin: 0;
  padding: 10px;
  border: 1px solid $color-grey_lighter;
  background-color: $color-grey_lightest;
  border-radius: 4px;
}

/**
 * Learn article footer
 */

.docs-articles.docs-articles_learn > p:last-child  {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid $color-grey_light;
}

.docs-articles.docs-articles_learn a[title~="next"] {
  float: right;
  font-weight: $fontWeight_semibold;
  font-size: $fontSize_base;
}

.docs-articles.docs-articles_learn a[title~="previous"] {
  float: left;
  font-weight: $fontWeight_semibold;
  font-size: $fontSize_base;
}

.docs-articles.docs-articles_learn a[title~="nav"] {
  border-radius: 2px;
  padding: 10px 14px;
  color: $color-grey_lighter;
  font-size: $fontSize_small;
  font-weight: $fontWeight_base;
  text-decoration: none;
  transition: all $duration_fastest $easing_smooth;
}

.docs-articles.docs-articles_learn a[title~="basics"] {
  box-shadow: inset 0 0 0 2px $color-fuchsia_base;
  background-color: $color-fuchsia_base;
}

.docs-articles.docs-articles_learn a[title~="basics"]:hover {
  color: $color-fuchsia_base;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="yml"] {
  box-shadow: inset 0 0 0 2px $color-skyblue_base;
  background-color: $color-skyblue_base;
}

.docs-articles.docs-articles_learn a[title~="yml"]:hover {
  color: $color-skyblue_base;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="containers"] {
  box-shadow: inset 0 0 0 2px $color-green_base;
  background-color: $color-green_base;
}

.docs-articles.docs-articles_learn a[title~="containers"]:hover {
  color: $color-green_base;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="pipelines"] {
  box-shadow: inset 0 0 0 2px $color-red_base;
  background-color: $color-red_base;
}

.docs-articles.docs-articles_learn a[title~="pipelines"]:hover {
  color: $color-red_base;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="steps"] {
  box-shadow: inset 0 0 0 2px $color-purple_base;
  background-color: $color-purple_base;
}

.docs-articles.docs-articles_learn a[title~="steps"]:hover {
  color: $color-purple_base;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="build"] {
  color: $color-white;
  box-shadow: inset 0 0 0 2px $color-yellow_dark;
  background-color: $color-yellow_dark;
}

.docs-articles.docs-articles_learn a[title~="build"]:hover {
  color: $color-yellow_dark;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="deploy"] {
  box-shadow: inset 0 0 0 2px $color-orange_base;
  background-color: $color-orange_base;
}

.docs-articles.docs-articles_learn a[title~="deploy"]:hover {
  color: $color-orange_base;
  background-color: transparent;
}

.docs-articles.docs-articles_learn a[title~="docs"] {
  box-shadow: inset 0 0 0 2px $color-blue_light;
  background-color: $color-blue_light;
}

.docs-articles.docs-articles_learn a[title~="docs"]:hover {
  color: $color-blue_light;
  background-color: transparent;
}
