/**
* Start homepage.
*/

.start {
  height: 100%;
  background-color: var(--color-blue_base);
  background-image: linear-gradient(-25deg, rgba(var(--color-skyblue_base) .2) -20%, rgba(var(--color-purple_light).2) 100%);
}

.start-header {
  padding: 30px 0;
  text-align: center;
}

.start-header h2 {
  margin: 20px auto;
  font-size: var(--fontSize_large);
  line-height: var(--lineHeight_loose);
  color: var(--color-white);
}

.start-header img {
  display: none;
}

.start-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.start-blocks_item {
  flex: 1 100%;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 2px;
  text-decoration: none;
  transform: scale(.99);
  border: 1px solid var(--color-blue_light);
  transition: all var(--duration_fast) var(--easing_smooth);
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .start {
    height: 75vh;
    min-height: 550px;
  }

  .start-blocks {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .start-header {
    margin-top: 100px;
  }

  .start-header img {
    display: none;
  }

  .start-header h2 {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--fontSize_larger);
    line-height: var(--lineHeight_looser);
  }

  .start-blocks_item {
    flex: 1 1 30%;
    height: 12vh;
    margin-bottom: 20px;
  }

  .start-blocks_item:hover {
    background-color: var(--color-blue_light);
    transform: scale(1);
  }
}

/**
 * Start block content
 */

.start-blocks_item .flex-outer {
  height: 100%;
}

.start-blocks_img {
  width: 120px;
  text-align: center;
}

.start-blocks_item h3 {
  margin: 0;
  color: var(--color-grey_lightest);
  font-size: var(--fontSize_large);
}

.start-blocks_item p {
  margin-top: 0;
  line-height: var(--lineHeight_tight);
  font-size: var(--fontSize_base);
  color: var(--color-grey_lighter);
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {

}
