/**
* Start homepage.
*/

.start {
  height: 75vh;
  min-height: 550px;
  background-image: linear-gradient(0deg, var(--color-blue_base) 0%, var(--color-blue_light) 100%);
}

.start-header {
  margin-top: 100px;
  text-align: center;
}

.start-header h1 {
  color: var(--color-white);
}

.start-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.start-blocks_item {
  flex: 1 100%;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255, .1);
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .start-blocks {
    margin: 40px 0;
  }

  .start-blocks_item {
    flex: 1 1 30%;
    height: 14vh;
  }

  .start-blocks_item:hover {
    background-color: var(--color-blue_light);
  }
}

/**
 * Start block headers
 */

.start h3 {
  margin: 0;
  text-align: center;
  color: var(--color-grey_lightest);
}

.start p {
  margin-top: 0;
  text-align: center;
  color: var(--color-grey_light);
  font-size: var(--fontSize_base);
}

/**
 * Start block button
 */

.start .button-docs {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 130px;
  padding: 10px 13px;
  border-radius: 2px;
  text-align: center;
  color: var(--color-grey_light);
  background-color: transparent;
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_base);
  text-decoration: none;
  box-shadow: inset 0 0 0 2px var(--color-grey_light);
  letter-spacing: 1px;
  transition: all var(--duration_fastest) var(--easing_smooth);
}

.start .button-docs:hover {
  background-color: var(--color-grey_light);
  color: var(--color-white);
}
