/**
 * Din Next LTO Pro light
 */

@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url('fonts/2D247A_3_0.eot');
  src: url('fonts/2D247A_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/2D247A_3_0.woff2') format('woff2'),url('fonts/2D247A_3_0.woff') format('woff'),url('fonts/2D247A_3_0.ttf') format('truetype');
}

/**
 * Corporate S Light
 */

@font-face {
  font-family: 'CorporateS-Light';
  src: url("fonts/c063002tWeb.eot");
  src: url("fonts/c063002tWeb.woff") format("woff");
}

/**
 * Corporate S Regular
 */

@font-face {
  font-family: 'CorporateS-Regular';
  src: url("fonts/c063003tWeb.eot");
  src: url("fonts/c063003tWeb.woff") format("woff");
}

/**
 * Corporate S Demi
 */

@font-face {
  font-family: 'CorporateS-Demi';
  src: url("fonts/c063004tWeb.eot");
  src: url("fonts/c063004tWeb.woff") format("woff");
}

/**
 * Corporate S Regular Italic
 */

@font-face {
  font-family: 'CorporateS-Regular-Italic';
  src: url("fonts/c063023tWeb.eot");
  src: url("fonts/c063023tWeb.woff") format("woff");
}

