/**
 * Edit on GitHub button.
 */
.gh-button {
  position: absolute;
  top: 22px;
  right: 40px;
  text-decoration: none;
}

.gh-button-button {
  padding: 8px 10px;
  border-radius: 2px;
  color: var(--color-skyblue_base);
  background-color: transparent;
  font-weight: var(--fontWeight_light);
  font-size: var(--fontSize_small);
  text-decoration: none;
  box-shadow: inset 0 0 0 1px var(--color-skyblue_base);
  transition: all var(--duration_fastest) var(--easing_smooth);
}

.gh-button-button:hover {
  background-color: var(--color-skyblue_base);
  color: var(--color-white);
}
