/**
 * Header.
 */

.header {
  position: relative;
  height: 30vh;
  background-color: $color-grey_lighter;
}

.header .flex-inner {
}

.header h1 {
position: relative;
left: -10px;
font-weight: bold;
font-size: 140px;
color: #60718C;
letter-spacing: -5px;
}
