/**
 * Header.
 */

.header {
  position: relative;
  background-color: $color-grey_lighter;
}

.header h1 {
  position: relative;
  left: -10px;
  padding: 60px 0 90px 0;
  font-weight: $fontWeight_light;
  font-size: $fontSize_jumbo;
  color: $color-blue_base;
  line-height: 120px;
  letter-spacing: -5px;
}
