/**
 * Navigation.
 */

.nav-sticky {
  min-height: 60px;
  background-color: $color-grey_lighter;
}

.navbar-floating {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

.navbar-container {
  background-color: $color-grey_lighter;
}

.navbar-floating .navbar-container {
  background-color: $color-blue_base;
  transition: background-color $duration_fast $easing_smooth;
  padding-bottom: 12px;
}

.navbar {
  margin-top: 14px;
  padding-bottom: 12px;
}

.navbar li {
  display: inline;
}

.navbar-item {
  margin-right: 15px;
  margin-top: 6px;
  color: $color-blue_light;
  font-size: $fontSize_base;
  font-weight: $fontWeight_light;
  line-height: $lineHeight_base;
  text-decoration: none;
  float: left;
}

.navbar-item:hover {
  color: $color-blue_base;
}

.navbar-item_right {
  float: right;
}

.navbar-floating .navbar-item {
  color: $color-white;
}

.navbar-item_active {
  font-weight: $fontWeight_bold;
  opacity: 1;
}

.navbar-logo {
  display: block;
  float: left;
  margin-right: 25px;
  margin-top: 14px;
}

.navbar-signup {
  margin-top: 13px;
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    display: block;
    width: 50%;
    float: none;
    margin-right: 25px;
    margin-top: 14px;
  }

  .navbar-signup {
    position: absolute;
    margin-top: 0;
    top: 15px;
    right: 20px;
  }
}

.logo-full-group path {
  fill: $color-blue_base;
}

.navbar-floating .logo-full-group path {
  fill: $color-white;
}

/**
 * Navbar button.
 */

.button-nav_signup {
  float: right;
  border-radius: 2px;
  padding: 10px 14px;
  background-color: $color-green_base;
  color: $color-grey_lighter;
  font-size: $fontSize_small;
  font-weight: $fontWeight_base;
  text-decoration: none;
  transition: all $duration_fastest $easing_smooth;
}

.button-nav_signup:hover {
  color: $color-white;
}
