/**
 * Footer.
 */

.footer {
  background-color: var(--color-blue_base);
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer-logo {
  flex: 1 50%;
  margin-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-blue_light);
}

.footer-logo-payoff {
  margin: 3px 0 0 0;
  color: var(--color-grey_light);
}

.footer-signup {
  flex: 1 50%;
  margin-top: 60px;
  padding-bottom: 20px;
  line-height: 60px;
  border-bottom: 1px solid var(--color-blue_light);
  text-align: right;
}

.footer-social {
  flex: 1 100%;
  margin-top: 30px;
  color: var(--color-white);
}

.footer-social span {
  color: var(--color-grey_light);
  font-size: var(--fontSize_base);
  font-weight: var(--fontWeight_light);
}

.footer-social-icon {
  text-decoration: none;
  margin-left: 10px;
  opacity: .75;
}

.footer-social-icon:hover {
  opacity: 1;
}

.footer-newsletter {
  display: inline;
  float: right;
  color: var(--color-grey_light);
  font-size: var(--fontSize_base);
  font-weight: var(--fontWeight_light);
  text-decoration: underline;
}

.footer-newsletter:hover {
  color: var(--color-white);
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 20px;
}

.footer-links ul {
  text-align: center;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
  font-size: var(--fontSize_smaller);
  color: var(--color-grey_light);
  font-weight: var(--fontWeight_light);
}

.footer-links li:first-child {
  border: none;
}

.footer-links a {
  font-size: var(--fontSize_smaller);
  color: var(--color-grey_light);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--color-white);
}

/**
 * Footer button.
 */

.button-footer_signup {
  padding: 12px 15px;
  border-radius: 2px;
  background-color: var(--color-green_base);
  color: var(--color-grey_lighter);
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_base);
  text-decoration: none;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 2px var(--color-green_base);
  transition: all var(--duration_fastest) var(--easing_smooth);
}

.button-footer_signup:hover {
  color: var(--color-green_base);
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    flex: 1 100%;
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: none;
    text-align: center;
  }

  .footer-signup {
    flex: 100%;
    margin-top: 0px;
    padding-bottom: 20px;
    line-height: 60px;
    border-bottom: none;
    text-align: center;
  }

  .footer-social {
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid var(--color-blue_light);
    border-bottom: 1px solid var(--color-blue_light);
    line-height: var(--lineHeight_looser);
  }

  .footer-newsletter {
    display: block;
    padding-bottom: 40px;
    float: none;
  }

  .footer-links {
    margin-top: 20px;
  }
}
