/**
 * Main
 */

body {
  width: 100%;
}

/**
 * Navigation
 */

.navigation_outer {

}

.navigation_inner {

}

/**
 * Header
 */

.header {
  height: 300px;
}

/**
 * Docs
 */

.flex_docs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  flex: 1;
  order: 1;
}

.docs {
  flex: 3;
  order: 2;
}



/**
 * Code
 */

.section-doc_inner > pre {
  left: 260px;
  margin-right: 0;
  margin-left: 0;
  padding: 20px 0 20px 0;
  width: calc(100vw - 260px);
  background-color: #1d1f21;
}

.section-doc_inner > pre > code {
  display: block;
  width: 640px;
  margin: auto;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/**
 * Images.
 */

.section-doc_inner > p img {
  max-width: 100%;
}

/**
 * Line breaks.
 */

.section-doc_inner > hr {
  display: block;
  margin-top: 30px;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: $color-grey_lighter;
  padding: 0;
  height: 1px;
  width: 100%;
}

/**
 * Footer.
 */

.footer {

}
