body {
  display: inline-flex;
  width: 100%;
}

.section-doc_outer {
  margin: 20px 20px 0 20px;
  width: 100%;
}

.section-doc_inner {
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.section-doc_inner:first-child h1 {
  margin-bottom: 20px;
}

.sidebar {
  flex-shrink: 0;
  width: 260px;
}
