/**
 * Flex.
 */

.flex-outer {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  box-pack: center;
}

.flex-inner {
  width: 1024px;
}

@media screen and (max-width: 1024px) {
  .flex-inner {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .flex-inner {
    padding: 0 15px;
  }
}
