/**
 * Navigation.
 */

.nav-sticky {
  min-height: 60px;
  background-color: var(--color-grey_lighter);
}

.navbar-container {
  padding: 10px 0;
}

.navbar-floating {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-blue_base);
  transition: background-color var(--duration_fast) var(--easing_smooth);
}

.navbar-container.navbar-floating {
  background-color: var(--color-blue_base);
}

.navbar {
  margin-top: 16px;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-top: 0;
}

.navbar-item {
  margin-right: 15px;
  color: var(--color-blue_light);
  font-size: var(--fontSize_base);
  font-weight: var(--fontWeight_light);
  line-height: 4px;
  text-decoration: none;
  float: left;
}

.navbar-item:hover {
  color: var(--color-blue_base);
}

.navbar-item_right {
  float: right;
}

.navbar-floating .navbar-item {
  color: var(--color-white);
}

.navbar-item_active {
  font-weight: var(--fontWeight_bold);
  opacity: 1;
}

.navbar-logo {
  display: block;
  float: left;
  margin-right: 25px;
  margin-top: 2px;
}

.logo-full {
  display: inherit;
}

.logo-small {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-signup {
    position: absolute;
    top: 13px;
    right: 20px;
  }

  .navbar-item_right {
    display: none;
  }

  .navbar-logo {
    margin-right: 15px;
  }

  .logo-full {
    display: none;
  }

  .logo-small {
    display: inherit;
  }
}

.logo-group path {
  fill: var(--color-blue_base);
}

.navbar-floating .logo-group path {
  fill: var(--color-white);
}

/**
 * Navbar button.
 */

.button-nav_signup {
  float: right;
  border-radius: 2px;
  padding: 10px 14px;
  background-color: var(--color-green_base);
  color: var(--color-grey_lighter);
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_base);
  text-decoration: none;
  box-shadow: inset 0 0 0 2px var(--color-green_base);
  transition: all var(--duration_fastest) var(--easing_smooth);
}

.button-nav_signup:hover {
  color: var(--color-green_base);
  background-color: transparent;
}
