/**
 * Docs-articles.
 */
.docs {
  position: relative;
  overflow: hidden;
}

.flex-outer.docs-content {
  margin-top: 0;
}

.docs-articles {
  min-height: 0;
  padding: 0 30px;
  transform: translate(0, 0);
  overflow-x: hidden;
  transform: translate(0, 0);
  transition: transform var(--duration_fast) ease-out;
}

/**
 * Set position of docs when sidebar is open
 */

body.sidebar-open .docs-articles {
  min-height: 100vh;
  transform: translate(-30%, 0);
}

/* Responsive rules for screens starting at 768px width */
@media screen and (min-width: 768px) {
  .flex-outer.docs-content {
    align-items: flex-start;
    margin-top: 50px;
  }

  .docs-articles {
    flex: 1 1 80%;
    z-index: 2;
    position: relative;
  }
}

/**
 * Article Header
 */

.docs-articles h2 {
  margin-top: 0;
  max-width: 80%;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .docs-articles h2 {
    max-width: 70%;
  }
}

/**
 * Article Paragraph
 */

.docs-articles p {
  margin-top: 15px;
}

.docs-articles p + p {
  margin-top: 20px;
}

.docs-articles p a {
  font-size: var(--fontSize_medium);
}


/**
 * Anchor targets
 */

.docs-articles .anchor:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

@media screen and (min-width: 768px) {
  .docs-articles .anchor:target:before {
    content: "";
    display: block;
    height: 110px;
    margin: -110px 0 0;
  }
}

/**
 * Code
 */

.docs-articles td code,
.docs-articles > p > code,
.docs-articles > ul > li > code,
.docs-articles > blockquote > p > code {
  margin: 0 3px;
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
  background-color: var(--color-grey_lightest);
  border: 1px solid var(--color-grey_lighter);
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_small);
  color: var(--color-blue_base);
}

.docs-articles > pre {
  background-color: var(--color-blue_base);
  border: 1px solid var(--color-grey_light);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  overflow-x: auto;
}

.docs-articles > pre > code {
  line-height: var(--lineHeight_base);
  background-color: transparent;
  overflow-wrap: normal;
  white-space: pre;
  border: none;
}


/**
 * Tables.
 */

.docs-articles table {
  margin: 30px 0;
}

.docs-articles table,
.docs-articles th,
.docs-articles td {
  padding: 12px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey_lighter);
  font-weight: var(--fontWeight_base);
  line-height: var(--lineHeight_loose);
  font-size: var(--fontSize_smaller);
  color: var(--color-blue_light);
}

.docs-articles th {
  background-color: var(--color-grey_lightest);
  font-weight: var(--fontWeight_semibold);
  line-height: var(--lineHeight_base);
  font-size: var(--fontSize_small);
  color: var(--color-blue_light);
}

/**
 * ul ol.
 */

.docs-articles > ul,
.docs-articles > ol {
  margin: 30px 0;
  margin-left: 20px;
  line-height: var(--lineHeight_base);
  color: var(--color-grey_base);
  list-style: none;
}

.docs-articles > ul li,
.docs-articles > ol li {
  line-height: var(--lineHeight_base);
}

.docs-articles > ul li:before,
.docs-articles > ol li:before {
  content: "• ";
  color: var(--color-blue_light);
}

/**
 * Images.
 */

.docs-articles p > img {
  width: 90vw;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--color-grey_lighter);
}

@media screen and (min-width: 768px) {
  .docs-articles p > img {
    width: 100%;
  }
}

/**
 * Line breaks.
 */

.docs-articles > hr {
  display: none;
}

.docs-articles > hr + hr {
  display: inherit;
  margin-top: 30px;
  border: none;
  height: 1px;
  background-color: var(--color-grey_lighter);
}

/**
 * Blockquote.
*/

blockquote {
  margin-top: 30px;
  padding-left: 30px;
  border-left: 1px solid var(--color-grey_base);
}

blockquote > p {
  margin-bottom: 30px;
}

blockquote  p {
  font-family: 'CorporateS-Regular-Italic';
  font-size: var(--fontSize_base);
  color: var(--color-grey_dark);
  line-height: var(--lineHeight_loose);
}
blockquote p a {
  font-size: var(--fontSize_base);
}

/**
 * Important note.
*/

.docs-articles hr + blockquote {
  border: none;
  padding: 0;
}

.docs-articles hr + blockquote > p {
  margin: 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--color-grey_lighter);
  background-color: var(--color-grey_lightest);
  font-size: var(--fontSize_base);
}

.docs-articles hr + blockquote > p a {
  font-size: var(--fontSize_base);
}

/**
 * Learn article footer
 */

.docs-articles.docs-articles_learn > p:last-child  {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--color-grey_light);
}

.docs-articles.docs-articles_learn a[title~="next"] {
  float: right;
  font-size: var(--fontSize_base);
}

.docs-articles.docs-articles_learn a[title~="previous"] {
  float: left;
  font-size: var(--fontSize_base);
}

.docs-articles.docs-articles_learn a[title~="nav"] {
  border-radius: 2px;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--fontSize_base);
  background-color: var(--color-skyblue_base);
  transition: all var(--duration_fastest) var(--easing_smooth);
}

.docs-articles.docs-articles_learn a[title~="nav"]:hover {
  color: var(--color-skyblue_base);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--color-skyblue_base);
}

.docs-articles.docs-articles_learn a[title~="docs"] {
  box-shadow: inset 0 0 0 2px var(--color-blue_light);
  background-color: var(--color-blue_light);
}

.docs-articles.docs-articles_learn a[title~="docs"]:hover {
  color: var(--color-blue_light);
  background-color: transparent;
}
