/**
 * Font line-height scale.
 */
:root {
  --lineHeight_tightest: 10px;
  --lineHeight_tighter: 12px;
  --lineHeight_tight: 18px;
  --lineHeight_base: 26px;
  --lineHeight_loose: 38px;
  --lineHeight_looser: 44px;
  --lineHeight_loosest: 64px;
}

/**
 * Font sizes scale.
 */
:root {
  --fontSize_micro: 10px;
  --fontSize_smallest: 12px;
  --fontSize_smaller: 13px;
  --fontSize_small: 15px;
  --fontSize_base: 18px;
  --fontSize_medium: 22px;
  --fontSize_large: 28px;
  --fontSize_larger: 46px;
  --fontSize_largest: 66px;
  --fontSize_jumbo: 80px;
}

/**
 * Font weight.
 */
:root {
  --fontWeight_light: lighter;
  --fontWeight_base: normal;
  --fontWeight_semibold: 600;
  --fontWeight_bold: bold;
}

/**
 * Typography settings.
 */


html,
body,
p, a, h2, h3, h4, h5 {
  font-family: 'CorporateS-Light', sans-serif;
  font-size: var(--fontSize_base);
  color: var(--color-grey_darker);
}

a {
  color: var(--color-skyblue_base);
  line-height: var(--lineHeight_tight);
}

a:hover {
  color: var(--color-skyblue_dark);
}

p {
  line-height: var(--lineHeight_loose);
  font-size: var(--fontSize_medium);
}

em {
  font-size: inherit;
  color: var(--color-grey_darker);
  font-family: 'CorporateS-Regular-Italic', sans-serif;
}

h1 {
  font-family: DINNextLTPro-Light;
  line-height: var(--lineHeight_loosest);
  font-size: var(--fontSize_largest);
  color: var(--color-blue_base);
  letter-spacing: -2px;
}

h2 {
  font-family: 'CorporateS-Demi', sans-serif;
  line-height: var(--lineHeight_looser);
  font-size: var(--fontSize_larger);
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: 'CorporateS-Regular', sans-serif;
  line-height: var(--lineHeight_loose);
  font-size: var(--fontSize_large);
  color: var(--color-grey_darker);
  margin-top: 40px;
  margin-bottom: 10px;
}

h4 {
  font-family: 'CorporateS-Demi', sans-serif;
  line-height: var(--lineHeight_base);
  font-size: var(--fontSize_medium);
  color: var(--color-grey_darker);
  margin-top: 40px;
  margin-bottom: 10px;
}

h5 {
  line-height: var(--lineHeight_tight);
  font-size: var(--fontSize_base);
  color: var(--color-blue_light);
  margin-top: 18px;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
  font-size: var(--fontSize_small);
  line-height: 22px;
}

ul li,
ol li {
  font-family: 'CorporateS-Light', sans-serif;
  line-height: var(--lineHeight_tight);
  font-size: var(--fontSize_base);
  color: var(--color-grey_dark);
  margin-top: 15px;
  margin-bottom: 5px;
}

strong {
  font-family: 'CorporateS-Demi', sans-serif;
}
