/**
 * Font line-height scale.
 */
:root {
  --lineHeight_tightest: 10px;
  --lineHeight_tighter: 12px;
  --lineHeight_tight: 18px;
  --lineHeight_base: 26px;
  --lineHeight_loose: 32px;
  --lineHeight_looser: 44px;
  --lineHeight_loosest: 64px;
}

/**
 * Font sizes scale.
 */
:root {
  --fontSize_micro: 8px;
  --fontSize_smallest: 10px;
  --fontSize_smaller: 13px;
  --fontSize_small: 14px;
  --fontSize_base: 16px;
  --fontSize_medium: 18px;
  --fontSize_large: 22px;
  --fontSize_larger: 36px;
  --fontSize_largest: 56px;
  --fontSize_jumbo: 140px;
}

/**
 * Font weight.
 */
:root {
  --fontWeight_light: lighter;
  --fontWeight_base: normal;
  --fontWeight_semibold: 600;
  --fontWeight_bold: bold;
}

/**
 * Typography settings.
 */

.DINNextLTPro-Bold {
  font-family: DINNextLTPro-Bold;
  font-weight: normal;
  font-style: normal;
}

.DINNextLTPro-Regular {
  font-family: DINNextLTPro-Regular;
  font-weight: normal;
  font-style: normal;
}

.DINNextLTPro-Medium {
  font-family: DINNextLTPro-Medium;
  font-weight: normal;
  font-style: normal;
}

.DINNextLTPro-Light {
  font-family: DINNextLTPro-Light;
  font-weight: normal;
  font-style: normal;
}

html,
body,
a {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--color-skyblue_base);
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_light);
  line-height: var(--lineHeight_tight);
}

a:hover {
  color: var(--color-skyblue_dark);
}

p {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-blue_light);
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_light);
  line-height: var(--lineHeight_base);
}

article p, .docs-articles p {
  font-family: 'Merriweather', serif;
  margin-top: 15px;
  text-justify: inter-word;
  text-align: justify;
}

em {
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_light);
  color: var(--color-grey_base);
  font-style: italic;
}

h1 {
  font-family: DINNextLTPro-Light;
  line-height: var(--lineHeight_loosest);
  font-size: var(--fontSize_largest);
  color: var(--color-blue_base);
  letter-spacing: -2px;
}

h2 {
  font-family: DINNextLTPro-Light;
  line-height: var(--lineHeight_looser);
  font-size: var(--fontSize_larger);
  color: var(--color-blue_base);
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 + p {
  line-height: var(--lineHeight_loose);
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_medium);
  color: var(--color-blue_light);
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 + p > a, h2 + p > em {
  font-family: 'Merriweather', serif;
  line-height: var(--lineHeight_loose);
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_medium);
}

h3 {
  line-height: var(--lineHeight_loose);
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_large);
  color: var(--color-blue_light);
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  line-height: var(--lineHeight_base);
  font-weight: var(--fontWeight_light);
  font-size: var(--fontSize_medium);
  color: var(--color-blue_light);
  margin-top: 30px;
}

h5 {
  line-height: var(--lineHeight_base);
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_base);
  color: var(--color-blue_light);
  margin-top: 20px;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
  font-size: var(--fontSize_small);
  line-height: 22px;
}

ul li,
ol li {
  font-family: 'Merriweather', serif;
  line-height: var(--lineHeight_tight);
  font-weight: var(--fontWeight_light);
  font-size: var(--fontSize_small);
  color: var(--color-blue_light);
  margin-top: 15px;
  margin-bottom: 5px;
}

strong {
  font-weight: var(--fontWeight_bold);
}

/*
@media screen and (max-width: 768px) {
  h1 {
    line-height: var(--lineHeight_looser);
    font-size: var(--fontSize_larger);
  }

  h4 {
    line-height: var(--lineHeight_base);
    font-size: var(--fontSize_small);
  }
}*/
