@import "search.css";

/**
 * Sidebar.
 */

body.sidebar-open {
  overflow: hidden;
}

.sidebar {
  position: absolute;
  background-color: var(--color-white);
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  transform: translate(120vw, 60px);
  transition: transform var(--duration_fast) var(--easing-bounce_smooth);
}

.sidebar.open {
  transform: translate(0vw, 60px);
}

.section-sidebar {
  padding-right: 35px;
  padding-top: 20px;
  border-right: 1px solid var(--color-grey_light);
  line-height: var(--lineHeight_loose);
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 1;
    order: 1;
    z-index: 2;
    position: relative;
    width: auto;
    height: auto;
    overflow-y: initial;
    transform: translateX(0);
  }

  .section-sidebar {
    padding-right: 20px;
  }
}

.sidebar-list {
  height: calc(100vh - 150px);
  overflow-y: scroll;
  margin-top: 20px;
}

.sidebar-list > ul {
  margin-top: 3px;
}

.sidebar-list > ul + ul {
  margin-top: 3px;
}

.sidebar-list > ul > li {
  margin: 0;
  padding: 0;
}

.sidebar-list ul.closed ul li {
  /*  height: 30px;
    overflow: hidden;
  */
  display: none;
}

.sidebar.open .sidebar-list ul.closed {
  height: auto;
  overflow: inherit;
}

.sidebar-list ul.open ul li {
  /*display: block;
  height: auto;*/
  display: block;
}

.sidebar-list ul.open ul:empty {
  display: none;
}

.sidebar-li {
  position: relative;
  margin-left: 12px;
}

.sidebar-li,
.sidebar-li ul li a {
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_base);
  line-height: var(--lineHeight_loose);
  font-family: 'Open Sans', sans-serif;
  color: var(--color-blue_base);
  text-decoration: none;
}

.sidebar-li:before {
  position: absolute;
  left: -10px;
  top: -6px;
  content: "\203A \a0\20";
}

.sidebar-li_active {
  color: var(--color-fuchsia_base);
}

.sidebar-li_active.sidebar-li:before {
  transform: rotate(90deg);
  left: -11px;
  top: -3px;
  color: var(--color-fuchsia_base);
}

.sidebar-li_sub {
  position: relative;
  margin: 10px 0 10px 0;
  margin-left: 20px;
}

.sidebar-li + ul .sidebar-li_sub:first-child {
  margin-top: 2px;
}

.sidebar-li_sub_active > a {
  text-decoration: none;
  pointer-events: none;
  color: var(--color-skyblue_dark);
  font-weight: var(--fontWeight_base);
}

.sidebar-li_sub_active > a:before {
  content: "\203A \a0\20";
  position: absolute;
  left: -10px;
}

.section-sidebar.section-learn {
  padding-top: 0;
}

.section-sidebar.section-learn .sidebar-list {
  margin-top: 0;
}

.section-sidebar.section-learn .sidebar-list_chapters {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--color-grey_lighter);
}

.sidebar-list_chapters .sidebar-li,
.sidebar-list_chapters .sidebar-li a {
  margin-top: 0;
  margin-bottom: 0;
  line-height: var(--lineHeight_base);
}

@media screen and (min-width: 768px) {
  .section-learn {
    margin-top: 35px;
    padding: 2px 0 2px 0;
    border-left: 2px solid var(--color-grey_light);
    border-right: none;
  }

  .section-learn .sidebar-list {
    margin-left: 20px;
    margin-top: 0;
  }

  .sidebar-list_chapters {
    display: none;
  }
}

.section-sidebar_basics {
  border-color: var(--color-fuchsia_base);
}

.section-sidebar_wercker-yml {
  border-color: var(--color-skyblue_base);
}

.section-sidebar_containers {
  border-color: var(--color-green_base);
}

.section-sidebar_pipelines {
  border-color: var(--color-pink_base);
}

.section-sidebar_steps {
  border-color: var(--color-purple_base);
}

.section-sidebar_build {
  border-color: var(--color-yellow_base);
}

.section-sidebar_deploy {
  border-color: var(--color-orange_base);
}
