@import "search.css";

/**
 * Sidebar.
 */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  z-index: 3;
  overflow-y: hidden;
  background-color: var(--color-white);
  transform: translate(100%, 60px);
  transition: transform var(--duration_fast) var(--easing-bounce_smooth);
}

.section-sidebar {
  padding: 20px;
  line-height: var(--lineHeight_loose);
}

/**
 * Rules for open sidebar on mobile
 */

body.sidebar-open {
  overflow: hidden;
}

.sidebar.open {
  transform: translate(0, 60px);
  height: 100%;
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 1 1 20%;
    z-index: 2;
    position: relative;
    width: auto;
    height: auto;
    overflow-y: initial;
    transform: translateX(0);
  }

  .section-sidebar {
    padding: 0;
    padding-right: 20px;
  }
}

/**
 * Sidebar list.
 */

.sidebar-list {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.sidebar-list > ul {
  margin-top: 3px;
  border-bottom: 1px solid var(--color-grey_lighter);
}

.sidebar-list > ul + ul {
  margin-top: 3px;
}

.sidebar-list > ul > li {
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-list ul.open ul li {
  display: block;
}

.sidebar-list ul.open ul:empty {
  display: none;
}

.sidebar-list ul.closed {
  height: auto;
  overflow: inherit;
}

.sidebar-list ul.closed ul li {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar-list {
    height: 100%;
    overflow-y: auto;
  }
}

/**
 * Sidebar list open styles for on mobile.
 */

.sidebar.open .sidebar-list ul.closed {
  height: auto;
  overflow: visible;
}

.sidebar.open .sidebar-list ul.closed ul li {
  display: block;
}

/**
 * Sidebar list items.
 */

.sidebar-li {
  position: relative;
  margin-left: 2px;
  text-decoration: none;
  color: var(--color-skyblue_base);
  font-size: var(--fontSize_base);
  line-height: var(--lineHeight_loose);
}

.sidebar-li_active {
  color: var(--color-fuchsia_base);
}

.sidebar-li + ul {
  margin-left: 10px;
}

.sidebar-li_active + ul {
  margin-bottom: 15px;
}

.sidebar-li_active.sidebar-li:before {
  transform: rotate(90deg);
  left: -11px;
  top: -3px;
  color: var(--color-fuchsia_base);
}

/**
 * Sidebar list sub items.
 */

.sidebar-list .sidebar-li_sub {
  position: relative;
}

.sidebar-li + ul .sidebar-li_sub:first-child {
  margin-top: 2px;
}

.sidebar-li_sub a {
  font-size: var(--fontSize_small);
  text-decoration: none;
}

.sidebar-li_sub_active a {
  text-decoration: none;
  pointer-events: none;
  font-family: 'CorporateS-Regular';
  color: var(--color-skyblue_dark);
}

.sidebar-li_sub:before {
  color: var(--color-skyblue_light);
  content: "- ";
}

/**
 * Sidebar section learn.
 */

.section-sidebar.section-learn {
  border-right: 0;
}

.section-sidebar.section-learn .sidebar-li_sub {
  margin: 0;
  margin-bottom: 6px;
  padding: 12px;
  border-radius: 2px;
}

.section-sidebar.section-learn .sidebar-li_sub:before {
  content: " ";
}

.section-sidebar.section-learn .sidebar-li_sub a {
  font-family: 'CorporateS-Light';
  font-size: var(--fontSize_base);
  line-height: var(--lineHeight_base);
  text-decoration: none;
}

.section-sidebar.section-learn .sidebar-li_sub_active {
  background-color: var(--color-grey_lighter);
}
.section-sidebar.section-learn .sidebar-li_sub_active a {
  color: var(--color-blue_base);
}

.section-sidebar.section-learn .sidebar-list {
  height: calc(100vh - 115px);
}

.section-sidebar.section-learn .sidebar-list_chapters {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--color-grey_lighter);
}

.sidebar-list_chapters li {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Responsive rules for screens starting at 768px width
 */
@media screen and (min-width: 768px) {
  .sidebar-list_chapters {
    display: none;
  }

  .section-sidebar.section-learn .sidebar-li {
    display: none;
  }
}
