@import "search.css";

/**
 * Sidebar.
 */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow-y: hidden;
  background-color: var(--color-white);
  transform: translate(100%, 60px);
  transition: transform var(--duration_fast) var(--easing-bounce_smooth);
}

.section-sidebar {
  padding: 20px;
  line-height: var(--lineHeight_loose);
}

/**
 * Rules for open sidebar on mobile
 */

body.sidebar-open {
  overflow: hidden;
}

.sidebar.open {
  transform: translate(0, 60px);
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 1;
    order: 1;
    z-index: 2;
    position: relative;
    width: auto;
    height: auto;
    overflow-y: initial;
    transform: translateX(0);
  }

  .section-sidebar {
    padding-left: 0;
    padding-right: 20px;
    border-right: 1px solid var(--color-grey_light);
  }
}

/**
 * Sidebar list.
 */

.sidebar-list {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  margin-top: 20px;
}

.sidebar-list > ul {
  margin-top: 3px;
}

.sidebar-list > ul + ul {
  margin-top: 3px;
}

.sidebar-list > ul > li {
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-list ul.open ul li {
  display: block;
}

.sidebar-list ul.open ul:empty {
  display: none;
}

.sidebar-list ul.closed {
  height: auto;
  overflow: inherit;
}

.sidebar-list ul.closed ul li {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar-list {
    height: 100%;
  }
}

/**
 * Sidebar list open styles for on mobile.
 */

.sidebar.open .sidebar-list ul.closed {
  height: auto;
  overflow: inherit;
}

.sidebar.open .sidebar-list ul.closed ul li {
  display: block;
}

/**
 * Sidebar list items.
 */

.sidebar-li {
  position: relative;
  margin-left: 12px;
}

.sidebar-li {
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_base);
  line-height: var(--lineHeight_loose);
  font-family: 'Open Sans', sans-serif;
  color: var(--color-blue_base);
  text-decoration: none;
}

.sidebar-li:before {
  position: absolute;
  left: -10px;
  top: -6px;
  content: "\203A \a0\20";
}

.sidebar-li_active {
  color: var(--color-fuchsia_base);
}

.sidebar-li_active.sidebar-li:before {
  transform: rotate(90deg);
  left: -11px;
  top: -3px;
  color: var(--color-fuchsia_base);
}

/**
 * Sidebar list sub items.
 */

.sidebar-list .sidebar-li_sub {
  position: relative;
  margin: 10px 0 10px 0;
  margin-left: 20px;
}

.sidebar-li + ul .sidebar-li_sub:first-child {
  margin-top: 2px;
}

.sidebar-li_sub_active a {
  text-decoration: none;
  pointer-events: none;
  color: var(--color-skyblue_dark);
  font-weight: var(--fontWeight_base);
}

.sidebar-li_sub_active a:before {
  content: "\203A \a0\20";
  position: absolute;
  left: -10px;
}

/**
 * Sidebar section learn.
 */

.section-sidebar.section-learn .sidebar-list {
  height: calc(100vh - 115px);
  margin-top: 10px;
}

.section-sidebar.section-learn .sidebar-list_chapters {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--color-grey_lighter);
}

.sidebar-list_chapters li {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Responsive rules for screens starting at 768px width
 */
@media screen and (min-width: 768px) {
  .section-learn {
    margin-top: 35px;
    padding: 2px 0 2px 0;
  }

  .sidebar-list_chapters {
    display: none;
  }
}
