@import "search.css";

/**
 * Sidebar.
 */

.sidebar {
  flex: 1;
  order: 1;
  z-index: 2;
}

.section-sidebar {
  padding-top: 20px;
  padding-right: 20px;
  border-right: 1px solid var(--color-grey_light);
  line-height: var(--lineHeight_loose);
}

.sidebar-list {
  margin-top: 20px;
}

.sidebar-list ul.closed {
  height: 30px;
  overflow: hidden;
}

.sidebar-list ul.closed:empty {
  height: 0;
}

.sidebar-list ul.open {
  height: auto;
}

.sidebar-li {
  position: relative;
  margin-left: 10px;
}

.sidebar-li,
.sidebar-li > a {
  margin-top: 20px;
  font-size: var(--fontSize_small);
  font-weight: var(--fontWeight_base);
  line-height: var(--lineHeight_loose);
  font-family: 'Open Sans', sans-serif;
  color: var(--color-blue_base);
  text-decoration: none;
}

.sidebar-li:before {
  position: absolute;
  left: -10px;
  top: -6px;
  content: "\203A \a0\20";
}

.sidebar-li_active.sidebar-li:before {
  transform: rotate(90deg);
  left: -11px;
  top: -3px;
  color: var(--color-red_base);
}

.sidebar-li_sub {
  position: relative;
  margin: 10px 0;
  margin-left: 10px;
}

.sidebar-li_sub_active > a {
  text-decoration: none;
  pointer-events: none;
  color: var(--color-skyblue_dark);
  font-weight: var(--fontWeight_base);
}

.sidebar-li_sub_active > a:before {
  content: "\203A \a0\20";
  position: absolute;
  left: -10px;
}

.section-learn {
  margin-top: 35px;
  padding: 2px 0 2px 20px;
  border-left: 2px solid var(--color-grey_light);
  border-right: none;
}

.section-sidebar_basics {
  border-color: var(--color-fuchsia_base);
}

.section-sidebar_wercker-yml {
  border-color: var(--color-skyblue_base);
}

.section-sidebar_containers {
  border-color: var(--color-green_base);
}

.section-sidebar_pipelines {
  border-color: var(--color-red_base);
}

.section-sidebar_steps {
  border-color: var(--color-purple_base);
}

.section-sidebar_build {
  border-color: var(--color-yellow_base);
}

.section-sidebar_deploy {
  border-color: var(--color-orange_base);
}
