/**
 * Search.
 */

.section-search {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.section-search form {
  padding: 2px;
  padding-left: 24px;
  overflow: hidden;
  border: 1px solid var(--color-grey_light);
}

.search-input {
  border: hidden;
  color: var(--color-blue_base);
  font-size: var(--fontSize_base);
  font-family: 'Open Sans', sans-serif;
}

.section-search img {
  position: absolute;
  left: 7px;
  top: 15px;
}

/**
 * Clear search.
 */

.clear-search {
  display: none;
  margin-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
  border-bottom: 1px solid var(--color-grey_light);
}

.clear-search.show {
  display: block;
}

.clear-search:hover {
  cursor: pointer;
  cursor: hand;
}

.clear-search:before {
  content: "\2039 \a0\20";
}
