/**
 * Search.
 */

.section-search {
  overflow: hidden;
  position: relative;
}

.section-search form {
  padding: 4px;
  padding-left: 24px;
  border: 1px solid var(--color-grey_light);
  background-color: var(--color-grey_lightest);
}

.search-input {
  border: hidden;
  color: var(--color-blue_base);
  font-size: var(--fontSize_base);
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-grey_lightest);
}

.section-search img {
  position: absolute;
  left: 7px;
  top: 14px;
}

/**
 * Clear search.
 */

.clear-search {
  display: none;
  margin-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
  border-bottom: 1px solid var(--color-grey_light);
}

.clear-search.show {
  display: block;
}

.clear-search:hover {
  cursor: pointer;
  cursor: hand;
}

.clear-search:before {
  content: "\2039 \a0\20";
}

/**
* Search homepage.
*/

.search {
  position: relative;
  overflow: hidden;
}

.search h2 {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.search h4 {
  margin-top: 0;
  text-align: center;
}

.search .button-docs {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 130px;
  padding: 10px 13px;
  border-radius: 2px;
  text-align: center;
  color: var(--color-blue_light);
  background-color: transparent;
  font-weight: var(--fontWeight_base);
  font-size: var(--fontSize_base);
  text-decoration: none;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 2px var(--color-blue_light);
  transition: all var(--duration_fastest) var(--easing_smooth);
}

.search .button-docs:hover {
  background-color: var(--color-blue_light);
  color: var(--color-white);
}

.search-home {
  text-align: center;
}

.search-home_input {
  margin-top: 30px;
  padding: 10px;
  padding-left: 35px;
  border: none;
  border-bottom: 2px solid var(--color-grey_base);
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--fontWeight_light);
  font-size: var(--fontSize_large);
  background: var(--color-white);
}

.search-home img {
  transform: translateX(30px);
}
