/**
 * Font line-height scale.
 */

$lineHeight_tightest: 10px;
$lineHeight_tighter: 12px;
$lineHeight_tight: 15px;
$lineHeight_base: 22px;
$lineHeight_loose: 28px;
$lineHeight_looser: 38px;

/**
 * Font sizes scale.
 */

$fontSize_micro: 8px;
$fontSize_smallest: 10px;
$fontSize_smaller: 12px;
$fontSize_small: 14px;
$fontSize_base: 15px;
$fontSize_medium: 17px;
$fontSize_large: 18px;
$fontSize_larger: 21px;
$fontSize_largest: 32px;
$fontSize_jumbo: 140px;

/**
 * Font weight.
 */

$fontWeight_light: lighter;
$fontWeight_base: normal;
$fontWeight_semibold: 600;
$fontWeight_bold: bold;

/**
 * Typography settings.
 */

html, body, p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: $fontWeight_light;
  line-height: $lineHeight_loose;
  font-size: $fontSize_base;
  color: $color-blue_light;
}

a {
  text-decoration: none;
  color: $color-blue_base;
  font-weight: $fontWeight_light;
}

a:hover {
  color: $color-blue_dark;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: $fontWeight_light;
  font-lineheight: $lineHeight_looser;
  font-size: $fontSize_small;
  text-justify: inter-word;
  color: $color-blue_light;
  text-align: justify;
  margin-top: 15px;
}

p > a {
  font-weight: $fontWeight_semibold;
}

h1 {
  line-height: $lineHeight_looser;
  font-weight: $fontWeight_base;
  font-size: $fontSize_largest;
  color: $color-blue_dark;
  letter-spacing: 1px;
}

h1 + p {
  line-height: $lineHeight_looser;
  font-weight: $fontWeight_base;
  font-size: $fontSize_medium;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  line-height: $lineHeight_looser;
  font-weight: $fontWeight_light;
  font-size: $fontSize_larger;
  color: $color-grey_dark;
  margin-top: 30px;
}

h3 {
  line-height: $lineHeight_looser;
  font-weight: $fontWeight_semibold;
  font-size: $fontSize_small;
  text-transform: uppercase;
  color: $color-blue_light;
  margin-top: 20px;
}

pre {
  font-family: 'Source Code Pro', monospace;
  font-size: $fontSize_smaller;
  line-height: 22px;
}
