/**
 * Font line-height scale.
 */

$lineHeight_tightest: 10px;
$lineHeight_tighter: 12px;
$lineHeight_tight: 15px;
$lineHeight_base: 22px;
$lineHeight_loose: 30px;
$lineHeight_looser: 40px;

/**
 * Font sizes scale.
 */

$fontSize_micro: 8px;
$fontSize_smallest: 10px;
$fontSize_smaller: 13px;
$fontSize_small: 14px;
$fontSize_base: 15px;
$fontSize_medium: 16px;
$fontSize_large: 18px;
$fontSize_larger: 22px;
$fontSize_largest: 32px;
$fontSize_jumbo: 40px;

/**
 * Font weight.
 */

$fontWeight_light: light;
$fontWeight_base: medium;
$fontWeight_bold: bold;

/**
 * Typography settings.
 */

html, body, p, a {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-grey_base;
  font-weight: normal;
  font-size: $fontSize_medium;
  line-height: $lineHeight_base;
}

a {
  text-decoration: none;
  color: $color-grey_darker;
}

h1 {
  font-size: $fontSize_jumbo;
  line-height: $lineHeight_looser;
  color: $color-blue_dark;
  font-weight: bold;
}

h2 {
  font-size: $fontSize_largest;
  line-height: $lineHeight_looser;
  color: $color-grey_dark;
}

h3 {
  font-size: $fontSize_larger;
  line-height: $lineHeight_looser;
  color: $color-grey_base;
}

pre {
  font-family: 'Source Code Pro', monospace;
  font-size: $fontSize_smaller;
  line-height: 22px;
}
