/**
 * Font line-height scale.
 */

$lineHeight_tightest: 10px;
$lineHeight_tighter: 12px;
$lineHeight_tight: 18px;
$lineHeight_base: 26px;
$lineHeight_loose: 32px;
$lineHeight_looser: 44px;
$lineHeight_loosest: 64px;

/**
 * Font sizes scale.
 */

$fontSize_micro: 8px;
$fontSize_smallest: 10px;
$fontSize_smaller: 13px;
$fontSize_small: 14px;
$fontSize_base: 16px;
$fontSize_medium: 18px;
$fontSize_large: 22px;
$fontSize_larger: 36px;
$fontSize_largest: 56px;
$fontSize_jumbo: 140px;

/**
 * Font weight.
 */

$fontWeight_light: lighter;
$fontWeight_base: normal;
$fontWeight_semibold: 600;
$fontWeight_bold: bold;

/**
 * Typography settings.
 */

.DINNextLTPro-Bold {
  font-family: DINNextLTPro-Bold;
  font-weight: normal;
  font-style: normal;
}

.DINNextLTPro-Regular {
  font-family: DINNextLTPro-Regular;
  font-weight: normal;
  font-style: normal;
}

.DINNextLTPro-Medium {
  font-family: DINNextLTPro-Medium;
  font-weight: normal;
  font-style: normal;
}

.DINNextLTPro-Light {
  font-family: DINNextLTPro-Light;
  font-weight: normal;
  font-style: normal;
}

html,
body,
a {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $color-skyblue_base;
  font-size: $fontSize_small;
  font-weight: $fontWeight_light;
  line-height: $lineHeight_tight;
}

a:hover {
  color: $color-skyblue_dark;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: $color-blue_light;
  font-size: $fontSize_small;
  font-weight: $fontWeight_light;
  line-height: $lineHeight_base;
}

article p, .docs-articles p {
  font-family: 'Merriweather', serif;
  margin-top: 15px;
  text-justify: inter-word;
  text-align: justify;
}

em {
  font-size: $fontSize_small;
  font-weight: $fontWeight_light;
  color: $color-grey_base;
  font-style: italic;
}

h1 {
  font-family: DINNextLTPro-Light;
  line-height: $lineHeight_loosest;
  font-size: $fontSize_largest;
  color: $color-blue_base;
  letter-spacing: -2px;
}

h2 {
  font-family: DINNextLTPro-Light;
  line-height: $lineHeight_looser;
  font-size: $fontSize_larger;
  color: $color-blue_base;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 + p {
  line-height: $lineHeight_loose;
  font-weight: $fontWeight_base;
  font-size: $fontSize_medium;
  color: $color-blue_light;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 + p > a, h2 + p > em {
  font-family: 'Merriweather', serif;
  line-height: $lineHeight_loose;
  font-weight: $fontWeight_base;
  font-size: $fontSize_medium;
}

h3 {
  line-height: $lineHeight_loose;
  font-weight: $fontWeight_base;
  font-size: $fontSize_large;
  color: $color-blue_light;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  line-height: $lineHeight_base;
  font-weight: $fontWeight_light;
  font-size: $fontSize_medium;
  color: $color-blue_light;
  margin-top: 30px;
}

h5 {
  line-height: $lineHeight_base;
  font-weight: $fontWeight_base;
  font-size: $fontSize_base;
  color: $color-blue_light;
  margin-top: 20px;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
  font-size: $fontSize_small;
  line-height: 22px;
}

ul li,
ol li {
  font-family: 'Merriweather', serif;
  line-height: $lineHeight_tight;
  font-weight: $fontWeight_light;
  font-size: $fontSize_small;
  color: $color-blue_light;
  margin-top: 15px;
  margin-bottom: 5px;
}

strong {
  font-weight: $fontWeight_bold;
}

/*
@media screen and (max-width: 768px) {
  h1 {
    line-height: $lineHeight_looser;
    font-size: $fontSize_larger;
  }

  h4 {
    line-height: $lineHeight_base;
    font-size: $fontSize_small;
  }
}*/
