/**
 * Colors.
 */
:root {
  --color-white: #FFFFFF;

  --color-grey_lightest: #FAFAFA;
  --color-grey_lighter: #F5f7f8;
  --color-grey_light: #E6E6E6;
  --color-grey_base: #9D9D9D;
  --color-grey_dark: #626463;
  --color-grey_darker: #242932;
  --color-grey_darkest: #000000;

  --color-blue_light: #60718C;
  --color-blue_base: #4C5D79;

  --color-green_base: #6DBE44;
  --color-red_base: #FF4772;
  --color-purple_base: #AE40EA;
  --color-orange_base: #FF801A;
  --color-yellow_base: #FFDB06;
  --color-yellow_dark: #edca00;
  --color-fuchsia_base: #F748C4;
  --color-skyblue_base: #3DBDEE;
  --color-skyblue_dark: #2194CE;

  --color-twitter_base: #00A9F1;
  --color-facebook_base: #3A579A;
  --color-googleplus_base: #D74022;
}
