/**
 * Learn.
 */

.learn {
  overflow: hidden;
  padding: 30px 0;
  background-color: var(--color-grey_light);
}

.learn h2 {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}

.learn h4 {
  margin-top: 0;
  text-align: center;
}

.learnblocks {
  align-content: space-around;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.learnblocks-item {
  flex: 1 10%;
  margin: 10px;
  padding-bottom: 0;
  text-align: center;
  transition: transform var(--duration_fastest) var(--easing-bounce_smooth);
}

.learnblocks-item.active .learnblocks-item-icon {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.learnblocks-item:hover {
  transform: translateY(-5px);
}

.learnblocks-item.active:hover {
  transform: translateY(-7px);
}

.learnblocks-item:first-child {
  margin-left: 0;
}

.learnblocks-item:last-child {
  /*margin-right: 0;*/
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .learnblocks-item {
    flex: 1 20%;
    margin: 0 10px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .learnblocks-item {
    flex: 1 20%;
    margin: 0 10px 20px 0;
  }
}

.learnblocks-item.active .learnblocks-item_active {
  display: block;
  opacity: 0;
  animation: fade-in;
  animation-duration: var(--duration_slowest);
  animation-delay: var(--duration_fast);
  animation-fill-mode: forwards;
  animation-timing-function: var(--easing_smooth);
}

.learnblocks-item_active {
  display: none;
  margin: 10px auto 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 0px solid var(--color-blue_light);
  border-width: 3px 0 0 3px;
  transform: rotate(45deg);
}

.learnblocks-item-icon {
  display: block;
  height: 150px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0px -35px 0px 0px rgba(0, 0, 0, 0.06);
}

/**
 * Only show animation on class intro.
 */
.intro .learnblocks-item-icon {
  opacity: 0;
  animation: move-in;
  animation-duration: var(--duration_slowest);
  animation-fill-mode: forwards;
  animation-timing-function: var(--easing_smooth);
}

.learnblocks-item-icon img {
  width: 86px;
}

.learnblocks-item-title {
  margin-top: 23px;
  text-transform: capitalize;
  font-size: var(--fontSize_base);
  color: var(--color-white);
}

.learnblocks-item_basics .learnblocks-item-icon {
  background-color: var(--color-fuchsia_base);
}

.learnblocks-item_wercker_yml .learnblocks-item-icon {
  background-color: var(--color-skyblue_base);
  animation-delay: .04s;
}

.learnblocks-item_containers .learnblocks-item-icon {
  background-color: var(--color-green_base);
  animation-delay: .1s;
}

.learnblocks-item_pipelines .learnblocks-item-icon {
  background-color: var(--color-red_base);
  animation-delay: .14s;
}

.learnblocks-item_steps .learnblocks-item-icon {
  background-color: var(--color-purple_base);
  animation-delay: .18s;
}

.learnblocks-item_build .learnblocks-item-icon {
  background-color: var(--color-yellow_base);
  animation-delay: .21s;
}

.learnblocks-item_deploy .learnblocks-item-icon {
  background-color: var(--color-orange_base);
  animation-delay: .27s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes move-in {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  10% {
    transform: translateY(30px);
  }

  50% {
    transform: translateY(-10px);
  }

  70% {
    transform: translateY(6px);
  }

  80% {
    transform: translateY(3px);
  }

  90% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
