/**
 * Doc cards.
 */

.doc-cards {
  margin-top: 60px;
}

.doc-cards h2 {
  text-align: center;
}

.doc-cards-holder {
  align-content: space-around;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 10px;
}

.doc-cards-item {
  flex: 1 100%;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid var(--color-grey_lighter);
}

.doc-cards-item:first-child {
  margin-left: 0;
}

.doc-cards-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .doc-cards-item {
    flex: 1 12.5%;
    margin: 5px;
    padding: 20px;
  }
}

.doc-cards-item span {
  float: right;
  color: var(--color-blue_light);
}

.doc-cards-item p {
  line-height: var(--lineHeight_base);
  font-size: var(--fontSize_base);
}

.doc-cards-item ul {
  margin-top: 20px;
  line-height: var(--lineHeight_looser);
  font-size: var(--fontSize_medium);
  color: var(--color-grey_base);
  list-style: none;
}

.doc-cards-item ul .doc-cards-item_list-header {
  padding-bottom: 10px;
}

.doc-cards-item li:before {
  content: " ";
  color: var(--color-blue_light);
}

.doc-cards-item_title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: var(--fontSize_medium);
  color: var(--color-blue_base);
  text-decoration: none;
}
