/**
 * Search.
 */

.section-search {
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-blue_dark;
}

.search-input {
  border: hidden;
  color: $color-blue_dark;
  font-size: $fontSize-base;
  font-family: 'Open Sans', sans-serif;
}

.section-search img {
  position: absolute;
  left: 0;
  top: 8px;
}
