.section-sidebar {
  padding: 30px 20px 0 20px;
  color: $color-white;
}

.sidebar-title {
  text-align: center;
}

.sidebar-title > span,
.sidebar-title > a {
  font-size: $fontSize_larger;
  font-family: 'Source Code Pro', monospace;
  color: $color-white;
}

.sidebar-list {
  margin-top: 20px;
  height: calc(100vh - 170px);
  overflow: auto;
  padding-bottom: 20px;
}

/**
 * Sidebar text styles.
 */

.sidebar-li,
.sidebar-li > a {
  margin-top: 20px;
  font-family: 'Source Code Pro', monospace;
  font-size: $fontSize-base;
  color: $color-white;
}

.sidebar-li_sub > a {
  font-size: $fontSize-base;
  font-family: 'Source Code Pro', monospace;
  color: $color-grey_light;
}
