/**
 * Sidebar.
 */

.sidebar {
  flex: 1;
  order: 1;
  z-index: 2;
}

.section-sidebar {
  padding: 40px 20px 20px 20px;
  border-right: 1px solid $color-grey_light;
  line-height: $lineHeight_loose;
}

.sidebar-li,
.sidebar-li > a {
  margin-top: 20px;
  font-size: $fontSize_base;
  text-transform: capitalize;
  font-weight: $fontWeight_base;
  font-family: 'Open Sans', sans-serif;
  color: $color-blue_dark;
}

.sidebar-li_sub > a {
  margin-left: 5px;
  text-transform: capitalize;
  font-size: $fontSize_smaller;
  font-weight: $fontWeight_light;
  font-family: 'Merriweather', serif;
  color: $color-blue_base;
}
