/**
 * Header.
 */

.header {
  position: relative;
  height: 32vh;
  max-height: 250px;
  background-color: var(--color-grey_lighter);
}

.header h1 {
  position: relative;
  left: -10px;
  font-weight: bold;
  font-size: 140px;
  color: #60718C;
  letter-spacing: -5px;
  line-height: 110px;
}
